<header class="flex-none px-4 sm:px-6 lg:px-8">
</header>
<main class="min-h-0 flex-1 flex flex-col justify-stretch">
  <div class="min-h-0 mx-auto flex-1 flex flex-col justify-stretch">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
