<!DOCTYPE html>
<html lang="en" class="h-vh [scrollbar-gutter:stable]" style="height: -webkit-fill-available;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · nassau records">
      <%= assigns[:page_title] || "Geoffrey" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="manifest" href="/manifest.json" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased h-vh flex flex-col justify-stretch" style="height: -webkit-fill-available;">
    <ul class="flex-none relative z-10 flex items-center gap-4 p-0 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="w-4"></li>
        <li>
          <.link
            href={~p"/"}
            class="text-xs leading-5 text-gray-600 font-semibold hover:text-zinc-700"
          >
            Todos<!-- span class="font-medium text-gray-400"> of <%= @current_user.email %></span -->
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-xs leading-5 text-gray-600 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-xs leading-5 text-gray-600 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
      <% end %>
        <li></li>
    </ul>
    <%= @inner_content %>
  </body>
</html>
